*{
    box-sizing: border-box;
    margin: 0px;
    scroll-behavior: smooth;
    padding: 0;
}
a:link {
    text-decoration: none;
    color: black; 
}
a:visited {
    text-decoration: none;
    color: black; 
}
a:hover { 
    text-decoration: none;
    color: black; 
}
a:active { text-decoration: none; } 
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 25rem;
    align-items: center;
    box-shadow: 0 4px 5px -5px rgba(0,0,0,.23);
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navli{
    list-style: none;
    color: black;
    font-family: 'blinker';
    font-size: 1.15rem;
    font-weight: 400;
    transition: all 0.2s;
    margin-bottom: 10px;
    margin-top: 0.5rem;
    cursor: pointer;
}
.navli:hover{
    text-decoration: underline;
    transition: all 0.2s;
}
.navlist{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    align-items: center;
}
.logo{
    width: 85px;
    height: 85px;
}
.loginsignup{
    display: flex;
    gap: 2vw;
}

/* media querys */
@media screen and (max-width:720px) {
    .nav{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 0rem;
        align-items: center;
        box-shadow: 0 4px 5px -5px rgba(0,0,0,.23);
        position: fixed;
        top: 0;
        background-color: white;
        z-index: 1;
    }
    .navli{
        list-style: none;
        color: black;
        font-family: 'blinker';
        font-size: 1.15rem;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .navlist{
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
        align-items: center;
    }
    .logo{
        width: 85px;
        height: 85px;
        margin-left: 2vw;
    }
    .loginsignup{
        display: flex;
        gap: 2vw;
    }
    
}